* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: #ddd;
    font-size: 18px;
    font-family: 'Oswald'Arial, Helvetica, sans-serif;
    margin: 50px;
}

.container {
    display: grid;
    gap: 10px;
}

/* headeer */
.header {
    display: grid;
    grid-template-areas:
        'hero hero feature-1'
        'hero hero feature-2';
}


.hero {
    grid-area: hero;
    min-height: 300px;
    background-image: url(../img/saa.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

/* .hero > *  */
.hero h2,
.hero p {
    display: none;
}

.features {
    background-color: #000;
    color: white;
    display: grid;
    /* justify-content: center;
    align-content: center; */
    place-content: center;
    text-align: center;
    cursor: pointer;
}

.feature-1 {
    grid-area: feature-1;
    background-image: url(../img/naruhina2,.jpg);
    background-size: cover;
    background-position: center;
}

.feature-2 {
    grid-area: feature-2;
    background-image: url(../img/naruhina,.jpg);
    background-size: cover;
    background-position: center;
}

.features .price {
    font-size: 3em;
    font-weight: 200;
}

/* navigasi */
.menu {
    display: grid;
    grid-template-columns: 1fr 2fr;
    order: -1;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

/* ~ dibacanya sibling */
.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, 1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}


.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
}

.menu .brand {
    font-size: 1.3em;
    color: #333;
    align-items: center;

}


.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
    margin: 5px;
}

.menu a {
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.9em;
}

@media screen and (max-width:1024px) {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }

    .menu .brand {
        display: none;
    }

    .hero h2,
    .hero p {
        display: block;
        background-color: black;
        color: white;
        padding: 5px;
        margin-bottom: 5px;

    }

    .hero {
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width:768px) {
    .menu {
        justify-items: end;
        order: -1;
    }

    .menu ul {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        z-index: 1;
        background-color: #000;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
    }

    .menu ul.slide {
        opacity: 1;
        transform: translateY(0);
    }

    .menu-toggle {
        display: flex;
    }
}

@media screen and (max-width:600px) {
    .header {
        grid-template-areas:
            'hero'
            'feature-1'
            'feature-2';
    }
}