*{
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: lavender;
}
.head {
    height: 50px;
    background-color: #3E065F;
    display: flex;
    padding:2px;
    color: white;
}
.head h1 {
    margin: 1px 30px;
    font-family: 'Noto Sans CJK KR';
}
.menu {
    margin-top: 20px;
}
.menu li {
    display: inline-block;
    margin-left:50px;
}
.menu li:hover {
    text-decoration: underline;
}
.head .cari {
    padding-top: 8px;
    margin-left: 400px;
}
.content1 {
    margin: 10px;
    width: 300px;
    height: 450px;
    background-color: white;
    padding-top: 10px;
}
.content1 h2 {
    font-family:'Chilanka';
    margin-top: 4px;
}
.content1 ol {
    list-style-type: none;
    margin-left: 20px;
}
.content1 ol ul {
    margin-left:40px ;
}
.content1 ul li:hover {
    color: green;
}
.content2 {
    background-color: white;
    width: 1035px;
    height: 460px;
    float: right;
    margin: 10px;
}

.content2 img {
    margin: 20px;
    margin-right: 0;
    width: 120px;
    height: 120px;
}
.content2 .detail  {
    width: 850px;
    float: right;
    margin: 20px;
    text-align: justify;
}
.detail h2:hover {
    color: orange;
}
.detail2 h2:hover {
    color: orange;
}
.detail p,form {
    margin-top: 12px;
}
.content2 .detail2  {
    width: 850px;
    float: right;
    margin: 20px;
    text-align: justify;
}
.detail2 p,form {
    margin-top: 12px;
}

footer {
    height: 56px;
    background-color: #8E05C2;
    color: white;
    text-align: center;
    line-height: 56px;
    font-family: open Sans extra bold ;
}